.component-level-manage-container {
    margin-bottom: 12px;

    .group-names {
        & > .sort-container {
            padding-left: 40px;
        }
    }

    .level-item {
        line-height: 32px;
        background: #fff;
        font-size: 12px;
        color: #000;
        border-bottom: 1px solid #ccd5db;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    .top-op {
        padding-bottom: 16px;
        border-bottom: 1px solid #ccd5db;

        .op {
            cursor: pointer;
            &:hover {
                color: #1593ff;
            }
        }
    }
}

.level-item {
    line-height: 32px;
    background: #fff;
    font-size: 12px;
    color: #000;
    border-bottom: 1px solid #ccd5db;

    &:last-child {
        border-bottom-width: 0;
    }

    .name.active {
        background-color: aquamarine;
    }
}

.group-names {
    & > .sort-container {
        padding-left: 40px;
    }
    &.active {
        background-color: #fff;
    }
}