.drawer-preview .realperview-container {
    position: fixed;
    left: 20%;
    z-index: 1001;

    .content {
        background-color: #fff;
        height: 100%;
    }

    
    .toggle-page {
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}