@import url(//at.alicdn.com/t/font_1471801_egps5xe0ohb.css);
@import url(//at.alicdn.com/t/font_1471801_egps5xe0ohb.css);
.m-t-4 {
  margin-top: 4px; }

.p-t-4 {
  padding-top: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-r-4 {
  margin-right: 4px; }

.p-r-4 {
  padding-right: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-l-4 {
  margin-left: 4px; }

.p-l-4 {
  padding-left: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-b-4 {
  margin-bottom: 4px; }

.p-b-4 {
  padding-bottom: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-t-8 {
  margin-top: 8px; }

.p-t-8 {
  padding-top: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-r-8 {
  margin-right: 8px; }

.p-r-8 {
  padding-right: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-l-8 {
  margin-left: 8px; }

.p-l-8 {
  padding-left: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-b-8 {
  margin-bottom: 8px; }

.p-b-8 {
  padding-bottom: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-t-12 {
  margin-top: 12px; }

.p-t-12 {
  padding-top: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-r-12 {
  margin-right: 12px; }

.p-r-12 {
  padding-right: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-l-12 {
  margin-left: 12px; }

.p-l-12 {
  padding-left: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-b-12 {
  margin-bottom: 12px; }

.p-b-12 {
  padding-bottom: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-t-16 {
  margin-top: 16px; }

.p-t-16 {
  padding-top: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-r-16 {
  margin-right: 16px; }

.p-r-16 {
  padding-right: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-l-16 {
  margin-left: 16px; }

.p-l-16 {
  padding-left: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-b-16 {
  margin-bottom: 16px; }

.p-b-16 {
  padding-bottom: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-t-20 {
  margin-top: 20px; }

.p-t-20 {
  padding-top: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-r-20 {
  margin-right: 20px; }

.p-r-20 {
  padding-right: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-l-20 {
  margin-left: 20px; }

.p-l-20 {
  padding-left: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-t-24 {
  margin-top: 24px; }

.p-t-24 {
  padding-top: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-r-24 {
  margin-right: 24px; }

.p-r-24 {
  padding-right: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-l-24 {
  margin-left: 24px; }

.p-l-24 {
  padding-left: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-b-24 {
  margin-bottom: 24px; }

.p-b-24 {
  padding-bottom: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-t-30 {
  margin-top: 30px; }

.p-t-30 {
  padding-top: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-r-30 {
  margin-right: 30px; }

.p-r-30 {
  padding-right: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-l-30 {
  margin-left: 30px; }

.p-l-30 {
  padding-left: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-t-48 {
  margin-top: 48px; }

.p-t-48 {
  padding-top: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-r-48 {
  margin-right: 48px; }

.p-r-48 {
  padding-right: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-l-48 {
  margin-left: 48px; }

.p-l-48 {
  padding-left: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-b-48 {
  margin-bottom: 48px; }

.p-b-48 {
  padding-bottom: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-l-20 {
  margin-left: 20px; }

.m-r-4 {
  margin-right: 4px; }

.m-l-16 {
  margin-left: 16px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-t-8 {
  margin-top: 8px; }

.m-t-12 {
  margin-top: 12px; }

.m-b-12 {
  margin-bottom: 12px; }

html {
  font-size: 12px; }

.text-center {
  text-align: center; }

section {
  margin: 0 0;
  padding: 0 0; }

ul, li {
  margin: 0 0;
  padding: 0 0;
  list-style: none; }

.text-right {
  text-align: right; }

body > li {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 0 8px;
  line-height: 32px; }

html, body {
  height: 100%;
  width: 100%; }

#root, .content {
  height: 100%;
  width: 100%; }
  #root .music-container, .content .music-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
    background: url("//www.lzuntalented.cn/img/music.svg") no-repeat;
    background-size: contain;
    animation: rotating 1.2s linear infinite; }

@keyframes rotating {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.resource-text-style-container.quick-btns .anticon {
  padding: 4px;
  border-radius: 2px; }

.resource-text-style-container.quick-btns .active {
  background-color: #1593ff;
  color: #fff; }

.component-modal-container .ant-modal-close {
  display: none; }

.component-modal-container .ant-modal-header {
  display: none; }

.component-modal-container .ant-modal-body {
  padding: 0 0;
  height: 600px; }
  .component-modal-container .ant-modal-body .nav {
    width: 176px;
    height: 600px;
    background-color: #001529;
    position: relative; }
    .component-modal-container .ant-modal-body .nav .title {
      height: 60px;
      line-height: 60px;
      color: #fff;
      font-size: 20px;
      padding-left: 16px; }
    .component-modal-container .ant-modal-body .nav .ant-menu-item-active {
      background: #1890ff; }
    .component-modal-container .ant-modal-body .nav .extra {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .component-modal-container .ant-modal-body .right {
    flex: 1;
    padding: 16px;
    height: 600px; }

.modal-resource-text-font-family .font-item {
  background: #fafafa;
  margin-bottom: 12px; }
  .modal-resource-text-font-family .font-item:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16); }
  .modal-resource-text-font-family .font-item-title {
    line-height: 72px;
    border-bottom: 1px solid #e6ebed;
    text-align: center;
    padding-left: 12px;
    font-size: 32px; }
  .modal-resource-text-font-family .font-item-desc {
    line-height: 32px;
    padding-left: 12px; }

.resource-qq-video .nav {
  padding: 24px;
  align-items: center; }
  .resource-qq-video .nav .name {
    color: #fff;
    font-size: 18px; }
  .resource-qq-video .nav .place {
    font-size: 14px;
    color: #9b9b9b; }
  .resource-qq-video .nav img {
    border-radius: 50%;
    width: 56px;
    height: 56px; }

.resource-qq-video .bottom {
  padding: 48px 24px;
  right: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  color: #fff; }
  .resource-qq-video .bottom .text-center {
    text-align: center;
    width: 60px; }
  .resource-qq-video .bottom .message {
    margin-bottom: 24px; }
    .resource-qq-video .bottom .message .anticon {
      font-size: 24px;
      margin-bottom: 8px; }
    .resource-qq-video .bottom .message:last-child {
      margin-bottom: 0; }
  .resource-qq-video .bottom .i-bg-diss {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ff382c;
    display: block;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px; }
  .resource-qq-video .bottom .i-bg-acp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #4bda64;
    display: block;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px; }

.component-text-style-container {
  background-color: #fafafa; }
  .component-text-style-container .ant-row-flex {
    margin: 8px 0; }
  .component-text-style-container .quick-btns .anticon {
    padding: 4px;
    border-radius: 2px; }
  .component-text-style-container .quick-btns .active {
    background-color: #1593ff;
    color: #fff; }

.resource-qq-video .nav {
  padding: 24px;
  align-items: center; }
  .resource-qq-video .nav .name {
    color: #fff;
    font-size: 18px; }
  .resource-qq-video .nav .place {
    font-size: 14px;
    color: #9b9b9b; }
  .resource-qq-video .nav img {
    border-radius: 50%;
    width: 56px;
    height: 56px; }

.resource-qq-video .bottom {
  padding: 48px 24px;
  right: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  color: #fff; }
  .resource-qq-video .bottom .text-center {
    text-align: center;
    width: 60px; }
  .resource-qq-video .bottom .message {
    margin-bottom: 24px; }
    .resource-qq-video .bottom .message .anticon {
      font-size: 24px;
      margin-bottom: 8px; }
    .resource-qq-video .bottom .message:last-child {
      margin-bottom: 0; }
  .resource-qq-video .bottom .i-bg-diss {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ff382c;
    display: block;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px; }
  .resource-qq-video .bottom .i-bg-acp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #4bda64;
    display: block;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 12px; }

.edit-item {
  position: absolute;
  border: 1px dashed transparent; }
  .edit-item:hover {
    border-color: gray; }
  .edit-item .content-hide-container {
    overflow: auto;
    height: 100%; }
    .edit-item .content-hide-container::-webkit-scrollbar {
      display: none; }

.render-item {
  position: absolute;
  border: 1px dashed transparent; }
  .render-item .content-hide-container {
    overflow: auto;
    height: 100%; }
    .render-item .content-hide-container::-webkit-scrollbar {
      display: none; }

.m-t-4 {
  margin-top: 4px; }

.p-t-4 {
  padding-top: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-r-4 {
  margin-right: 4px; }

.p-r-4 {
  padding-right: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-l-4 {
  margin-left: 4px; }

.p-l-4 {
  padding-left: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-b-4 {
  margin-bottom: 4px; }

.p-b-4 {
  padding-bottom: 4px; }

.m-4 {
  margin: 4px; }

.p-4 {
  padding: 4px; }

.m-t-8 {
  margin-top: 8px; }

.p-t-8 {
  padding-top: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-r-8 {
  margin-right: 8px; }

.p-r-8 {
  padding-right: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-l-8 {
  margin-left: 8px; }

.p-l-8 {
  padding-left: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-b-8 {
  margin-bottom: 8px; }

.p-b-8 {
  padding-bottom: 8px; }

.m-8 {
  margin: 8px; }

.p-8 {
  padding: 8px; }

.m-t-12 {
  margin-top: 12px; }

.p-t-12 {
  padding-top: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-r-12 {
  margin-right: 12px; }

.p-r-12 {
  padding-right: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-l-12 {
  margin-left: 12px; }

.p-l-12 {
  padding-left: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-b-12 {
  margin-bottom: 12px; }

.p-b-12 {
  padding-bottom: 12px; }

.m-12 {
  margin: 12px; }

.p-12 {
  padding: 12px; }

.m-t-16 {
  margin-top: 16px; }

.p-t-16 {
  padding-top: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-r-16 {
  margin-right: 16px; }

.p-r-16 {
  padding-right: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-l-16 {
  margin-left: 16px; }

.p-l-16 {
  padding-left: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-b-16 {
  margin-bottom: 16px; }

.p-b-16 {
  padding-bottom: 16px; }

.m-16 {
  margin: 16px; }

.p-16 {
  padding: 16px; }

.m-t-20 {
  margin-top: 20px; }

.p-t-20 {
  padding-top: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-r-20 {
  margin-right: 20px; }

.p-r-20 {
  padding-right: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-l-20 {
  margin-left: 20px; }

.p-l-20 {
  padding-left: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-b-20 {
  margin-bottom: 20px; }

.p-b-20 {
  padding-bottom: 20px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.m-t-24 {
  margin-top: 24px; }

.p-t-24 {
  padding-top: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-r-24 {
  margin-right: 24px; }

.p-r-24 {
  padding-right: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-l-24 {
  margin-left: 24px; }

.p-l-24 {
  padding-left: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-b-24 {
  margin-bottom: 24px; }

.p-b-24 {
  padding-bottom: 24px; }

.m-24 {
  margin: 24px; }

.p-24 {
  padding: 24px; }

.m-t-30 {
  margin-top: 30px; }

.p-t-30 {
  padding-top: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-r-30 {
  margin-right: 30px; }

.p-r-30 {
  padding-right: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-l-30 {
  margin-left: 30px; }

.p-l-30 {
  padding-left: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-b-30 {
  margin-bottom: 30px; }

.p-b-30 {
  padding-bottom: 30px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.m-t-48 {
  margin-top: 48px; }

.p-t-48 {
  padding-top: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-r-48 {
  margin-right: 48px; }

.p-r-48 {
  padding-right: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-l-48 {
  margin-left: 48px; }

.p-l-48 {
  padding-left: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-b-48 {
  margin-bottom: 48px; }

.p-b-48 {
  padding-bottom: 48px; }

.m-48 {
  margin: 48px; }

.p-48 {
  padding: 48px; }

.m-l-20 {
  margin-left: 20px; }

.m-r-4 {
  margin-right: 4px; }

.m-l-16 {
  margin-left: 16px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-t-8 {
  margin-top: 8px; }

.m-t-12 {
  margin-top: 12px; }

.m-b-12 {
  margin-bottom: 12px; }

html {
  font-size: 12px; }

.text-center {
  text-align: center; }

section {
  margin: 0 0;
  padding: 0 0; }

ul, li {
  margin: 0 0;
  padding: 0 0;
  list-style: none; }

.text-right {
  text-align: right; }

body > li {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 0 8px;
  line-height: 32px; }

@charset "UTF-8";
@font-face {
  font-family: "tianxinyuanyue";
  src: url("http://q1xve2j8g.bkt.clouddn.com/甜心月圆.ttf"); }

@font-face {
  font-family: "lanlanlanlandan";
  src: url("http://q1xve2j8g.bkt.clouddn.com/【蛋蛋】懒懒懒懒蛋.ttf"); }

@font-face {
  font-family: "shanmang1";
  src: url("http://q1xve2j8g.bkt.clouddn.com/【阿苗】闪吗1.ttf"); }

@font-face {
  font-family: "wencangshufang";
  src: url("http://q1xve2j8g.bkt.clouddn.com/问藏书房.ttf"); }

@font-face {
  font-family: "example-tianxinyuanyue";
  src: url("http://www.lzuntalented.cn/assets/fonts/example/tianxinyuanyue.ttf"); }

@font-face {
  font-family: "example-lanlanlanlandan";
  src: url("http://www.lzuntalented.cn/assets/fonts/example/lanlanlanlandan.ttf"); }

@font-face {
  font-family: "example-shanmang1";
  src: url("http://www.lzuntalented.cn/assets/fonts/example/shanmang1.ttf"); }

@font-face {
  font-family: "example-wencangshufang";
  src: url("http://www.lzuntalented.cn/assets/fonts/example/wencangshufang.ttf"); }

html, body {
  height: 100%;
  widows: 100%; }

#root {
  height: 100%; }

