.page-userinfo {
  margin: 0 auto;
  margin-top: 24px;

  &-card {
    width: 200px;
    background-color: white;
    margin-bottom: 12px;

    .card-empty-tmp {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color:  #dbf8fe;
      }
    }

    .card-empty {
      padding: 20px 0;
      text-align: center;
      border-top: 1px solid #e6ebed;
    }

    .card-img {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .content {
        width: 320px;
        height: 480px;
        transform: scale(0.416);
        position: absolute;
      }

      .qcorde {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        padding: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.3);
      }

      &:hover {
        .qcorde {
          display: block;
        }
      }
    }

    .card-title {
      border-top: 1px solid #e6ebed;
      border-bottom: 1px solid #e6ebed;
      &-txt {
        line-height: 38px;
        text-align: center;
        border-bottom: 1px solid #e6ebed;
      }

      &-look {
        line-height: 32px;
      }
    }

    .card-op {
      border-top: 1px solid #e6ebed;
      border-bottom: 1px solid #e6ebed;
      height: 70px;
      line-height: 35px;
      display: none;

      &-item {
        &:hover {
          background-color: #dbf8fe;
        }
      }
    }

    &:hover {
      .card-op {
        display: block;
      }
      .card-title {
        display: none;
      }
    }
  }
}