.component-setting-container {
    width: 260px;
    background-color: #fafafa;
    .header {
        cursor: move;
        height: 48px;
        line-height: 48px;
        background-color: #f7f7f7;
        padding: 0 16px;
    }
    .tabs-content {
        padding: 0 16px;
    }

    .animate-container {
        padding: 0 0 12px 0;
        position: relative;
        height: calc(100vh - 200px);

        .ant-collapse-header {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .ant-row-flex {
            margin: 8px 0;

            .animatename {
                color: #1593ff;
            }

            .ant-tabs {
                border: 1px solid #ccd5db;

                .ant-tabs-tab {
                    margin-right: 8px;
                }
            }

            .animte-overflow {
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .animate-name-item {
                text-align: center;
                font-size: 20px;
                cursor: pointer;

                .animte-desc {
                    font-size: 12px;
                    color: #76838f;
                }

                &:hover, &.active {
                    color: #1593ff;

                    .animte-desc {
                        color: #1593ff;
                    }
                }
            }
        }

        .animate-names {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: #f7f7f7;
            padding: 4px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}