.page-home {
    background: #fff;
    min-height: calc(100vh - 74px);
    position: relative;

    .banner {
        min-height: calc(100vh - 74px);
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 24px 0;
    
        .title-left {
            width: 540px;
        }
    
        .site-name {
            font-weight: 600;
            font-size: 68px;
            margin-bottom: 0;
            text-align: left;
        }
    
        .line {
            border-bottom: 1px solid #e8e8e8;
            margin: 8px 0;
        }
    
        .sub-title {
            color: #314659;
            font-size: 20px;
            line-height: 40px;
            text-align: left;
        }
    
        .btn-container {
            display: flex;
            align-items: center;
            margin: 24px auto;
        }

        .eq {
            text-align: left;
        }

        .m-r-12 {
            margin-right: 12px;
        }
    
        .home-logo {
            border: 1px solid #1593ff;
            border-radius: 5px;
            height: 480px;
            width: 320px;
            // line-height: 480px;
            margin: 0 24px;
            background-color: rgba($color: #ecfcff, $alpha: 0.4);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .bg-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}