@import '../../style/style.scss';
@import '../../style/base.scss';

$phone-width: 320;
$phone-height: 480;
$phone-header-height: 50;
$phone-footer-height: 30;

.home-container {
  margin-top: 20px;
  position: relative;
  .phone-container {
    width: $phone-width + 10 + px;
    position: relative;

    & > .header {
      // position: absolute;
      // top: -$phone-header-height + px;
      // left: 0;
      // right: 0;
      // z-index: 1;
      height: $phone-header-height + px;
      border-top-left-radius: $phone-header-height + px;
      border-top-right-radius: $phone-header-height + px;
      background-color: #e0e0e0;
    }
    & > .content {
      height: $phone-height + px;
      position: relative;
      border-left: 5px solid #e0e0e0;
      border-right: 5px solid #e0e0e0;
      // margin-top: $phone-header-height + px;
      // margin-bottom: $phone-footer-height + px;

      .border-left {
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        width: 10px;
        background-color: #e0e0e0;
      }

      .border-right {
        position: absolute;
        right: -5px;
        top: 0;
        bottom: 0;
        width: 10px;
        background-color: #e0e0e0;
      }
      .home-edit-item-container {

      }
      .home-control-container {
        .ctrl-container {
          margin: 0 0;
          padding: 0 0;
          list-style: none;

          .line {
            position: absolute;
            z-index: 4;
            background-color: #44cb83;
            height: 1px;
            width: 1px;
            &.l {
              top: 0;
              left: 1px;
              height: 100%;
            }
            &.t {
              top: 1px;
              left: 0;
              width: 100%;
            }
            &.r {
              top: 0;
              right: 1px;
              height: 100%;
            }
            &.b {
              bottom: 0;
              left: 0;
              width: 100%;
            }
            &.link-rotate {
              width: 1px;
              height: 18px;
              left: 50%;
              top: -24px;
              transform: translateX(-50%);
              background-color: #44cb83;
            }
          }
          .point {
            position: absolute;
            z-index: 4;
            background-color: #FFFFFF;
            border-radius: 50%;
            border: 1px solid #44cb83;
            width: 12px;
            height: 12px;
      
            &.lc {
              left: -6px;
              top: 50%;
              transform: translateY(-50%);
            }
            &.rc {
              right: -6px;
              top: 50%;
              transform: translateY(-50%);
            }
            &.tc {
              left: 50%;
              top: -6px;
              transform: translateX(-50%);
            }
            &.bc {
              left: 50%;
              bottom: -6px;
              transform: translateX(-50%);
            }
            &.lt {
              left: -6px;
              top: -6px;
            }
            &.rt {
              right: -6px;
              top: -6px;
            }
            &.lb {
              left: -6px;
              bottom: -6px;
            }
            &.rb {
              right: -6px;
              bottom: -6px;
            }
            &.rotate {
              left: 50%;
              top: -30px;
              transform: translateX(-50%);
              border-color: #44cb83;
              background-color: #44cb83;
            }
          }
        }
      }
    }
    & > .footer {
      // position: absolute;
      // bottom: -$phone-footer-height + px;
      // left: 0;
      // right: 0;
      // z-index: 1;
      height: $phone-footer-height + px;
      border-bottom-left-radius: $phone-footer-height + px;
      border-bottom-right-radius: $phone-footer-height + px;
      background-color: #e0e0e0;
    }
  }
  .style-setting-container{
    position: absolute;
    right: 0;
    top: 0;
  }
  .page-manage-container {
    position: absolute;
    right: 300px;
    top: 0;
  }
}