@font-face {
    font-family: "tianxinyuanyue";
    src: url('http://q1xve2j8g.bkt.clouddn.com/甜心月圆.ttf');
}
@font-face {
    font-family: "lanlanlanlandan";
    src: url('http://q1xve2j8g.bkt.clouddn.com/【蛋蛋】懒懒懒懒蛋.ttf');
}
@font-face {
    font-family: "shanmang1";
    src: url('http://q1xve2j8g.bkt.clouddn.com/【阿苗】闪吗1.ttf');
}
@font-face {
    font-family: "wencangshufang";
    src: url('http://q1xve2j8g.bkt.clouddn.com/问藏书房.ttf');
}
