@import url(//at.alicdn.com/t/font_1471801_egps5xe0ohb.css);

@function toREM($n) {
  @return $n * 0.083rem ;
}

.m-l-20{
  margin-left: 20px;
}

.m-r-4{
  margin-right: 4px;
}

.m-l-16{
  margin-left: 16px;
}

.m-b-5{
  margin-bottom: 5px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-b-12 {
  margin-bottom: 12px;
}

html {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

section {
  margin: 0 0;
  padding: 0 0;
}

ul, li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

.text-right {
  text-align: right;
}

body > li {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 0 8px;
  line-height: 32px;
}