.component-level-manage-container {
    margin-bottom: 12px;

    .group-names {
        & > .sort-container {
            padding-left: 40px;
        }
    }

    .item {
        line-height: 32px;
        background: #fff;
        font-size: 12px;
        color: #000;
        border-bottom: 1px solid #ccd5db;

        &:last-child {
            border-bottom-width: 0;
        }
    }
}

.item {
    line-height: 32px;
    background: #fff;
    font-size: 12px;
    color: #000;
    border-bottom: 1px solid #ccd5db;

    &:last-child {
        border-bottom-width: 0;
    }

    &.active {
        background-color: aquamarine;
    }
}

.group-names {
    & > .sort-container {
        padding-left: 40px;
    }
    &.active {
        background-color: #fff;

        .name {
            background-color: aquamarine;
        }
    }
}