.component-level-manage-container {
    margin-bottom: 12px;
    ul {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        border: 1px solid #cacaca;
        border-bottom-color: transparent;
        li {
            margin: 0 0;
            padding: 0 8px;
            list-style: none;
            line-height: 32px;
            border-bottom: 1px solid #cacaca;

            &.active {
                color: #1593ff;
            }
        }
    }
}