.component-page-manage-container {
    width: 260px;
    background-color: #fafafa;
    
    .header {
        cursor: move;
        height: 48px;
        line-height: 48px;
        background-color: #f7f7f7;
        padding: 0 16px;
    }
    .content {
        // padding: 0 16px;
        padding-bottom: 16px;

        .page-item{
            display: flex;
            align-items: center;

            &.active {
                background-color: #eee;
            }

            .index {
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                border-radius: 12px;
                color: #fff;
                background-color: #1593ff;
                margin: 0 10px;
            }
            .describe {
                display: inline-block;
                font-size: 14px;
                width: 175px;
                line-height: 70px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                .delete {
                    margin-left: 12px;
                    color: #f31b1b;
                }
            }
        }
    }
    .tabs-content {
        padding: 0 16px;
    }
}

.popover-comp-pagemanage-move {
    .ant-popover-title {
        display: none;
    }
}