@import url(//at.alicdn.com/t/font_1471801_7z31v9tt5tj.css);

@function toREM($n) {
  @return $n * 0.083rem ;
}

$space: 4,8,12,16,20,24,30,48;
$dirction: (t: 'top', r: 'right', l: 'left', b: 'bottom');

@each $s in $space{
  @each $key, $value in $dirction{
    .m-#{$key}-#{$s}{
      margin-#{$value}: $s + px;
    }
    .p-#{$key}-#{$s}{
      padding-#{$value}: $s + px;
    }
    .m-#{$s}{
      margin: $s + px;
    }
    .p-#{$s}{
      padding: $s + px;
    }
  }
}

html {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

section {
  margin: 0 0;
  padding: 0 0;
}

ul, li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

body > li {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 0 8px;
  line-height: 32px;
}

//自动移滚动条样式
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 1em;
  background-color: rgba(50,50,50,.3);
}
::-webkit-scrollbar-track{
  border-radius: 1em;
  background-color: rgba(50,50,50,.1);
}