.resource {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    .ant-card {
        height: 100%;
    }
    .ant-card-body {
        padding: 4px 12px 12px 0;
        height: calc(100% - 60px);

        .height100 {
            height: 100%;
        }

        .left-memu {
            border-right: 1px solid #f0f0f0;
            margin-right: 4px;
        }
        .ant-menu {
            border-right-width: 0;
            background-color: #fff;
        }

        .right-list {
            width: 320px;
            flex: 1;
            height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            .scene-content {
                border: 1px solid #1890ff;
                overflow: hidden;
                position: relative;

                .mask {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                    display: none;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    .mask {
                        display: flex;
                    }
                }
            }

            .node {

                .ys {
                    width: 60px;
                    line-height: 32px;
                    border: 1px solid #f0f0f0;
                    text-align: center;
                    cursor: pointer;
                    font-size: 16px;
                }
                .ys1 {
                    font-family: 'ys1';
                    text-shadow: rgb(255, 255, 255) 1px -1px 0px, rgb(255, 255, 255) 0px -1px 0px, rgb(255, 255, 255) 1px 1px 0px, rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 1px 1px 0px, rgb(255, 255, 255) 0px 1px 0px, rgb(255, 255, 255) -1px 1px 0px, rgb(255, 255, 255) -1px 0px 0px, rgb(214, 214, 214) 1px 1px 0px, rgb(214, 214, 214) 2px 2px 0px, rgb(214, 214, 214) 3px 3px 0px, rgb(214, 214, 214) 4px 4px 0px, rgb(125, 144, 175) 5px 5px 0.2em !important;
                    color: #ff79a2;
                    font-weight: bold;
                }
            }
        }
    }
}